# PROVIDER - CAAS
api_fingerprint      = "c8:9a:04:7b:7a:3f:d2:ad:bd:6c:ea:4b:90:63:67:95"
api_private_key_path = "~/.oci/oci_api_key.pem"
region               = "us-phoenix-1"
tenancy_ocid         = "ocid1.tenancy.oc1..aaaaaaaagiqvmjdoe4wxqc35tco4q5ga3mn4jsryjkiu36toc4xvxf626tbq"
current_user_ocid    = "ocid1.user.oc1..aaaaaaaaywzftkzy4hgeg4stcrkmv5rx3abqa3m7yr55kcr4rj3yqritidoq"

is_sandbox_mode_enabled = true
tag_cost_center         = "arjp_tag_1"
tag_geo_location        = "arjp_tag_2"

network_compartment_id      = "ocid1.compartment.oc1..aaaaaaaaaucqf2syd5gmrysmlq2kiguldgcngwpr4dxnrommpoi7k5bdmg7q"
applications_compartment_id = "ocid1.compartment.oc1..aaaaaaaauxghbookjznacgzcwzzpqfbhqwcx7wp67jauoc5xhmhfrwwmvxma"

workload_compartment_name   = "workload-1"
network_compartment_name    = "network"

vcn_id         = "ocid1.vcn.oc1.phx.amaaaaaavwya75aa62nbse43u3zl6dxd4hxozrmfvwhqwj77bz5uqyt3vrtq"
nat_gateway_id = "ocid1.natgateway.oc1.phx.aaaaaaaa6j7wuarwxqitc4k27iuetrozbsx7zxlaewj2ljfspht2xr4xgnua"

private_subnet_cidr_block  = "10.0.2.0/24"
private_subnet_dns_label   = "private0"
database_subnet_cidr_block = "10.0.4.0/24"
database_subnet_dns_label  = "database0"
